@use "config" as c;
@use "mixins" as m;

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  margin-top: 6rem;

  h2 {
    text-align: center;
  }

  p {
    text-align: center;
    width: 42%;
    margin: 0.6rem auto 2.5rem;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: c.$dark-color;
  background: rgba(c.$primary-color-variant, 0.1);
  user-select: none;
}

.container {
  width: c.$container-lg;
  margin: 0 auto;
}

.btn {
  @include m.button;
}

.btn-primary {
  @include m.button(c.$white-color, c.$primary-color);
}

// Media Query (Medium Devices)
@media (max-width: 1024px) {
  .container {
    width: c.$container-md;
  }

  section {
    p {
      width: 55%s;
    }
  }
}

// Media Query (Small Devices)
@media (max-width: 600px) {
  section {
    p {
      width: c.$container-md;
    }
  }
}
